h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
p:first-child {
    margin-top: 2.2rem;
}

.container p:first-child {
    margin-top: 0;
}

video {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

pre.code {
    font-size: 0.9rem;
    font-family: monospace;
    padding: 5px 10px;
    background: #f5f5f5 !important;
    white-space: pre;
    word-wrap: normal;
    overflow-x: scroll;
    scrollbar-color: rgba(65, 64, 64, 0.15) transparent;
    scrollbar-width: thin;
}

pre.literal-block {
    padding: 5px 10px;
    background-color: rgba(190, 219, 239, 0.15) !important;
    border-radius: 8px;
}

.codetable pre.code {
    max-width: 56em;
}

code,
cite,
tt.docutils.literal {
    background-color: rgba(176, 187, 197, 0.25);
    color: rgba(0, 0, 0, .5);
    border: solid 1px transparent;
    border-radius: 5px;
    padding: 1px 4px;
    font-size: 0.9rem;
    font-family: monospace;
}

td,
th {
    padding: 5px 10px;
}

table {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

table td,
table th {
    padding: 5px 10px;
    border: solid 1px #999;
}

table.footnote+table.footnote {
    margin-top: -2rem;
}

table caption {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

table p:first-child {
    margin-top: 0;
}

hr {
    border: 0;
    border-bottom: 1px solid #ddd;
    margin-top: 1rem;
    margin-bottom: 1rem;
    ;
    ;
}

img {
    max-width: 100%;
    margin-top: 1rem;
}

img + p:not(.caption) {
    margin-top: 1rem;
}

a.image-reference + p:not(.caption) {
    margin-top: 1rem;
}

.figure .caption {
    margin-bottom: 1rem;
}

p img {
    margin-bottom: 0;
}

blockquote {
    margin: 1em 0 0 1em;
    padding: 0.8em 0.8em 1.1em 1.5em;
    border-radius: 0.6em;
    border-left: 0.5em solid #eee;
    background-color: rgba(202, 204, 201, 0.2);
}

.footnote ol {
    color: #039be5;
}

.contents.topic {
    border: 1px solid #eee;
    background-color: #F4F4F4;
    margin: 1rem 0 1rem 0;
}

p.topic-title.first {
    margin-top: 0;
}

.contents.topic .topic-title {
    background-color: #747474;
    color: #fff;
    font-weight: bold;
    vertical-align: baseline;
    padding: 0.25em 0.5em;
}

.linenos {
    padding: 1px 4px;
    font-size: 0.9rem;
    font-family: monospace;
}

td.linenos,
td.code {
    border: none;
}

.admonition {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    background-color: #F5F5F5;
    border: 1px solid #eee;
    padding: 0.5em 0.5em;
}

.admonition .admonition-title {
    font-size: 1.25rem;
    font-weight: bold;
    padding-bottom: 0.1em;
    border-bottom: 1px solid #eee;
    margin-top: 0;
    margin-bottom: 0.5em;
}

.admonition.danger,
.admonition.error,
.admonition.caution {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
    padding: 0.5em 0.5em;
}

.admonition.warning,
.admonition.important,
.admonition.attention {
    color: #c09853;
    background-color: #fcf8e3;
    border-color: #fbeed5;
    padding: 0.5em 0.5em;
}

.admonition.note,
.admonition.hint,
.admonition.tip {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
    padding: 0.5em 0.5em;
}

.hint .admonition-title,
.note .admonition-title,
.tip .admonition-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #3a87ad;
    padding-bottom: 0.1em;
    border-bottom: 1px solid #bce8f1;
    margin-top: 0;
    margin-bottom: 0.5em;
}

.warning .admonition-title,
.important .admonition-title,
.attention .admonition-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #c09853;
    padding-bottom: 0.1em;
    border-bottom: 1px solid #fbeed5;
    margin-top: 0;
    margin-bottom: 0.5em;
}

.danger .admonition-title,
.error .admonition-title,
.caution .admonition-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #b94a48;
    padding-bottom: 0.1em;
    border-bottom: 1px solid #eed3d7;
    margin-top: 0;
    margin-bottom: 0.5em;
}

.sidebar {
    float: right;
    clear: right;
    width: 40%;
    max-width: 50em;
    background-color: #eee;
    border: solid 1px #eee;
    margin: 0 0 0.5em 0.5em;
    padding: 0.5em 0.5em;
}

.sidebar .sidebar-title {
    font-weight: bold;
    border-bottom: solid 1px #74A3E5;
    padding-bottom: 1rem;
    margin-top: 0.5rem;
}

pre.doctest-block {
    font-size: 0.9em;
    background-color: #f5f5f5;
    color: rgb(189, 123, 0);
    border: solid 1px transparent;
    padding: 1px 4px;
}

.line-block {
    margin-bottom: 1em;
}

.line-block .line {
    text-indent: 2em;
    line-height: 1.4285em;
}

.line-block .line-block {
    padding-left: 2em;
}

dl.docutils dd {
    margin-left: 2em;
}

ol.arabic {
    list-style-type: decimal;
}

ol.loweralpha {
    list-style-type: lower-alpha;
}

ol.upperalpha {
    list-style-type: upper-alpha;
}

ol.lowerroman {
    list-style-type: lower-roman;
}

.align-top {
    vertical-align: top;
}

.align-middle {
    vertical-align: middle;
}

.align-bottom {
    vertical-align: bottom;
}

ol.upperroman {
    list-style: upper-roman;
}

img.align-left,
.figure.align-left,
object.align-left,
table.align-left {
    clear: left;
    float: left;
    margin-right: 1em;
}

img.align-right,
.figure.align-right,
object.align-right,
table.align-right {
    clear: right;
    float: right;
    margin-left: 1em;
}

img.align-center,
.figure.align-center,
object.align-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table.align-center {
    margin-left: auto;
    margin-right: auto;
}

.align-left {
    text-align: left;
}

.align-center {
    clear: both;
    text-align: center;
}

.align-right {
    text-align: right;
}

.align-top {
    vertical-align: top;
}

.align-middle {
    vertical-align: middle;
}

.align-bottom {
    vertical-align: bottom;
}

.strike {
    text-decoration: line-through;
    color: #e45735;
    background: #f4bcae;
}

.amend {
    text-decoration: underline;
    color: #090;
    background: #dbffdb;
}