.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4 {
    text-align: center;
}

.post-entry + .post-entry {
    margin-top: 3em;
}

header {
    margin-bottom: 3em;
    border-bottom: 1px dashed gray;
}

body {
    font-family: BlinkMacSystemFont, 'Helvetica Neue', Cambria, Calibri, "Source Han Sans SC", "PingFang SC", "Noto Sans CJK SC", "Microsoft YaHei UI", "WenQuanYi Micro Hei", Arial, Helvetica, sans-serif;
}

a.footnote-reference {
    font-size: smaller;
    vertical-align: super;
}

footer {
    padding-top: 5em;
    padding-bottom: 3em;
}